/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  width: 100%;
  background-color: #d8e1e3;
}
header {
  width: 100%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid grey;
  background-color: #94d5f7;
}
header nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Sofia";
}
header nav a:hover {
  color: green;
}
.topContent {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid grey;
}
.topContent h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Sofia";
}
@media screen and (max-width: 500px) {
  .topContent h1 {
    font-size: 3rem;
  }
}
.topContent h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Sofia";
}
@media screen and (max-width: 500px) {
  .topContent h2 {
    font-size: 1.5rem;
  }
}
.topContent img {
  width: 40%;
  height: auto;
}
.topContent .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}
.middleContent {
  display: flex;
  justify-items: space-between;
  background-color: #94d5f7;
}
.middleContent .textContent {
  width: 50%;
  margin: auto;
  height: auto;
  padding: 3%;
}
.middleContent .textContent h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5%;
  font-weight: bold;
  font-family: "Sofia";
}
.middleContent .textContent p {
  font-size: 1.5rem;
  font-family: 'Architects Daughter';
}
.middleContent .skills {
  width: 50%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.middleContent .skills h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5%;
  font-weight: bold;
  font-family: "Sofia";
}
.middleContent .skills ul {
  font-size: 1.5rem;
  list-style-type: disc;
  list-style-position: inside;
  justify-self: center;
  align-self: center;
  font-family: 'Architects Daughter';
}
.workHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 3%;
  border-bottom: 2px solid grey;
}
.workHistory h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5%;
  font-weight: bold;
  font-family: "Sofia";
}
.workHistory table {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-family: 'Architects Daughter';
}
.workHistory table tr th {
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid black;
  margin: auto;
  padding: 1%;
  width: 33.3%;
  font-family: "Sofia";
}
.workHistory table tr td {
  border: 1px solid black;
  margin: auto;
  padding: 2%;
  width: 33%;
  text-align: center;
}
.contactInfo {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #94d5f7;
}
.contactInfo h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 3%;
  font-family: "Sofia";
}
.contactInfo form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: 'Architects Daughter';
}
.contactInfo form div {
  display: flex;
  flex-direction: column;
  height: auto;
}
.contactInfo input {
  width: 40%;
  margin: 1%;
}
